<section class="flex h-full flex-col items-center justify-center gap-5">
  <h1 class="w-80 text-pretty text-center text-2xl">
    Registro en Parinacoop
  </h1>
  <div class="flex flex-col items-center justify-center gap-5 rounded-xl bg-[#F6F6F6] px-10 py-5">

    <!-- PASO 1: RUN Y CLAVE -->
    <form
      *ngIf="step === 1"
      class="flex flex-col items-center justify-center gap-3"
      (ngSubmit)="onUserDataSubmit()"
      [formGroup]="userForm"
    >
      <!-- RUN -->
      <label class="block mb-0">RUN</label>
      <par-form-field
        
        format="run"
        [formCtrl]="fcUser('run')"
        [errors]="{
          required: 'Debe ingresar su RUN',
          runValidator: 'RUN inválido'
        }"
      />

      <!-- Clave -->
      <label class="block mb-0">Clave</label>
      <par-form-field
        
        type="password"
        [formCtrl]="fcUser('password')"
        [errors]="{
          required: 'Debe ingresar su clave',
          minlength: 'Mínimo 8 caracteres'
        }"
      />

      <!-- Confirmar clave -->
       <label class="block mb-0">Confirmar clave</label>
      <par-form-field
        
        type="password"
        [formCtrl]="fcUser('confirmPassword')"
        [errors]="{
          required: 'Debe confirmar su clave',
          passwordsMismatch: 'Las contraseñas deben coincidir'
        }"
      />

      <button
        class="h-10 w-72 rounded-full bg-primary-500 text-white transition-colors duration-100
        disabled:bg-primary-100 disabled:text-primary-400 hover:bg-primary-600"
        type="submit"
        [disabled]="userForm.invalid"
      >
        Siguiente
      </button>
    </form>

    <!-- PASO 2: DIRECCIÓN -->
    <form
      *ngIf="step === 2"
      class="flex flex-col items-center justify-center gap-5"
      (ngSubmit)="onAddressSubmit()"
      [formGroup]="addressForm"
    >

      <!-- Calle -->
       <label class="block mb-2">Calle</label>
      <par-form-field
        
        [formCtrl]="fcAddress('street')"
        [errors]="{
          required: 'Este campo es obligatorio'
        }"
      />

      <!-- Número -->
       <label class="block mb-2">Número de calle</label>
      <par-form-field
        
        type="number"
        [formCtrl]="fcAddress('number')"
        [errors]="{
          required: 'Este campo es obligatorio',
          min: 'El número debe ser positivo'
        }"
      />

      <!-- Región -->
      <div class="w-72">
        <label class="block mb-2">Región</label>
        <select
          formControlName="region_id"
          class="w-72 h-12 rounded-md border border-gray-400 bg-[#F6F6F6] px-4 text-base outline-none"
          (change)="onRegionChange($event)"
          required
        >
          <option value="" disabled selected>Seleccione una región</option>
          <option *ngFor="let region of regions" [value]="region.id">
            {{ region.name }}
          </option>
        </select>
        <div *ngIf="addressForm.get('region_id')?.invalid && addressForm.get('region_id')?.touched" class="text-xs text-red-400 mt-1">
          Debe seleccionar una región
        </div>
      </div>

      <!-- Comuna -->
      <div class="w-72">
        <label class="block mb-2">Comuna</label>
        <select
          formControlName="commune_id"
          class="w-72 h-12 rounded-md border border-gray-400 bg-[#F6F6F6] px-4 text-base outline-none"
          required
        >
          <option value="" disabled selected>Seleccione una comuna</option>
          <option *ngFor="let commune of communes" [value]="commune.id">
            {{ commune.name }}
          </option>
        </select>
        <div *ngIf="addressForm.get('commune_id')?.invalid && addressForm.get('commune_id')?.touched" class="text-xs text-red-400 mt-1">
          Debe seleccionar una comuna
        </div>
      </div>

      <!-- Detalles (opcional, sin errores) -->
      <par-form-field
        label="Detalles (opcional)"
        [formCtrl]="fcAddress('detail')"
      />

      <button
        class="h-10 w-72 rounded-full bg-primary-500 text-white transition-colors duration-100
        disabled:bg-primary-100 disabled:text-primary-400 hover:bg-primary-600"
        type="submit"
        [disabled]="addressForm.invalid"
      >
        Registrar dirección
      </button>
    </form>
  </div>
</section>